<% include partials/header.ejs %>

<div class="container">
    <div class="row">
        <div style="width: 35%; margin: 300px auto;">
            <form action="/especial/<%= hiho._id %>/comments" method="POST">
                       <p style="color:white; ">Add New Comment to <%= hiho.name %></p>

                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">
                </div>
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="text" name="comment[author]" placeholder="text">-->
                <!--</div>-->
                <div class="form-group">
                    <button class="btn btn-lg btn-danger btn-block">Submit!</button>
                </div>
            </form>
            <a href="/especial/<%= hiho._id %>">Go Back</a>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>